<h1>About</h1>

<div id="about">
  <p>This personal managment tool is meant to allow users to organize and keep track of the projects along with the tasks pending completion. This web application will also enable its users to add feedback via discussions and comments within each project.<p>
</div>

<div id="about">
  Built and designed as one of CodeCore's ongoing project. This web application utilizes the Rails framework that includes all the applications actions. Using a postgreSQL database, this application features Bootstrap along with CSS for styling.
</div>
