<header>
  <div class="container">
    <div class="title">
      <h1>Welcome to Manage Me</h1>
    </div>
  </div>
</header>
<body>
  <div class="about-container">
    <div class="about-title">
      <h1 class="page-title">What is Manage Me?</h1>
    </div>
    <div id="about-paragraph">
      <p class="about-paragraph">Manage Me is a tool meant to allow users to organize and keep track of the projects along with the tasks pending completion. This web application will also enable its users to add feedback via discussions and comments within each project.<p>
      </div>

    <div id="about-paragraph">
      <p class="about-paragraph">Built and designed as one of CodeCore's ongoing project. This web application utilizes the Rails framework that includes all the applications actions. Using a postgreSQL database, this application features Bootstrap along with CSS for styling.</p>
    </div>
  </div>
</body>
