/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

.discussion {
  text-align: center;
}

.discussion-body {
  font-style: italic;
}

/*h1 {
  text-align: center;
}*/

#about {
  text-align: center;
}

header {
  background-image: url("background-img.JPG");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 560px;
  position: relative;
}

.title {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.forms {
  padding-left: 100px;
  padding-right: 100px;
}

.login {
  padding-top: 20px;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

.page-title {
  text-align: center;
}

/* ABOUT */
.about-title {
  margin-bottom: 50px;
}

.about-paragraph {
  padding-left: 250px;
  padding-right: 250px;
}

.about-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
